.register {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url('/images/img-5.png');
    background-size: cover;
  }
  
  .registerTitle {
    font-size: 50px;
    padding: 5px 30px;
    border: 5px solid black;
    border-radius: 15px;
    color: white;
    background: linear-gradient(90deg, #205072 0%, rgb(36, 33, 33) 100%);
  }
  
  .registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .registerForm > label {
    margin: 10px 0;
  }
  
  .registerInput {
    padding: 10px;
    background-color: white;
    border: 3px solid;
    border-radius: 10px;
  }
  
  .registerInput:focus {
    outline: none;
  }
  
  .registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: #56C596;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }
  